* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  background: #6d5b42 url(../img/dirt.jpg);
  background-size: 10% auto;
  overflow: hidden;
}
#eggs {
  z-index: 1;
  position: relative;
  margin: 30px;
  height: calc(100% - 60px);
}
.egg {
  display: block;
  margin: 1px;
  text-indent: -1000px;
  overflow: hidden;
  width: 70px;
  height: 70px;
  position: absolute;
  margin: -35px 0 0 -35px;
  background: url(../img/1.png) no-repeat center;
  background-size: contain;
  z-index: 1;
  -webkit-filter: drop-shadow( -3px -3px 3px rgba(0,0,0,.5));
  filter: drop-shadow( -3px -3px 3px rgba(0,0,0,.5));
}
.tile {
  background: url(../img/grass.jpg);
  background-size: cover;
  width: 10%;
  height: 25%;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
}

#buttons {
  background: pink;
  z-index: 20;
  position: absolute;
  padding: 20px;
}

#basket {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 220px;
  height: 220px;
  /* background: tan; */
  z-index: 10;
  /* border-radius: 100em; */
  background: url(../img/basket.png) no-repeat;
  background-size: contain;
}

#inBasket {
  width: 140px;
  height: 140px;
  margin: 40px;
  position: relative;
}
